.container{
    padding: 20px;
}

.items{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.results{
    display:flex;
    flex-direction: column;
}
.item_name{
    margin-left: 4px;
}

